repos:
# - repo: https://github.com/pre-commit/pre-commit-hooks
#   rev: v4.3.0
#   hooks:
#     - id: end-of-file-fixer
#     - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ensure the Ruff version matches the one in pyproject.toml
  rev: v0.7.1
  hooks:
    # Run Ruff as a linter with auto-fix enabled.
    - id: ruff
      args: ["--fix"]
    # Run Ruff as a formatter.
    - id: ruff-format
