line-length = 150
indent-width = 4
preview = true
target-version = "py310"

[lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
extend-select = [
  # pyupgrade
  "UP",
  # pydocstyle
  "D",
]

[lint.pydocstyle]
convention = "google"
